<div id="store" class="stored divider"></div>

<br /><br />

<%
  onclick_event = "window.open("
  onclick_event << "'#{STORE_URL}',"
  onclick_event << "'shopfenster',"
  onclick_event << "'scrollbars=yes,width=900,height=600'"
  onclick_event << ")"
%>

<div class="section_container spreadshirt">
  <a class="boxl" href="#" onclick="<%= onclick_event %>">
    <%= image_tag 'store/white_t.png' %>
  </a>
  <a class="boxl" href="#" onclick="<%= onclick_event %>">
    <%= image_tag 'store/black_t.png' %>
  </a>
  <a class="boxl" href="#" onclick="<%= onclick_event %>">
    <%= image_tag 'store/bounce_t.png' %>
  </a>
  <div class="">
    <h4>
      <span style="margin:0 137px 0 30px;">White T - $15.00</span>
      <span style="margin:0 127px 0 0;">Black T - $15.00</span>
      <span>Bounce T - $25.00</span>
    </h4>
  </div>
  <%= link_to STORE_URL, style: 'float:right;' do%>
    <h2>See Full Store</h2>
  <% end %>
</div>
<br />
